footer {
   padding: 3vh 8%;
   display: flex;
   align-items: center;
   justify-content: space-between;   }
footer ul {
   display: flex;
   gap: 1rem ;   }
footer ul li a {
   font-size: 1.8rem ;
   color: var(--subTitleColor);
   transition: 0.4s;   }
footer ul li a:hover {
   color: var(--blueColor);   }
footer p {
   font-size: 1.8rem;
   color: #777 ;  }
@media (max-width : 768px) {
   footer {
      flex-direction: column;
      gap: 1.5rem;
   }
}
/*---------------------------*/

