.main {
   display: flex;
   gap: 3rem;   }
.main .buttons {
   display: flex;
   width: 20rem ;
   flex-direction: column;
   gap: 1.5rem ;   }
.main .buttons button {
   background-color: var(--bgHeader);
   color: var(--titleColor);
   border: 0;
   outline: 0;
   padding: 1rem  0.5rem ;
   font-size: 1.8rem ;
   border-radius: 0.5rem ;
   transition: 0.4s;
   cursor: pointer;
   opacity: 0.5;    }
.main .buttons button:hover {
   opacity: 1;   }
.main .buttons button.active {
   border: 1px solid var(--blueColor);
   opacity: 1;   }
.light .main .buttons button  {
   background: #bbb ;   }
.main .projects {
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
   column-gap: 2rem;
   row-gap: 3rem; 
   flex: 1;   }
.main .projects .box {
   border-radius: 0.5rem ;
   overflow: hidden;
   border: 1px solid rgb(93 , 188 , 252 , 0.3) ;
   transition: 0.4s;
   cursor: pointer;   }
.main .projects .box:hover {
   border: 1px solid rgb(93 , 188 , 252 ) ;
   rotate: 1deg;
   scale: 1.05;   }
.main .projects .box img {
   width: 100%;   }
.main .projects .box .content {
   padding: 2rem 1rem;   }
.main .projects .box .content h2 {
   font-size: 2rem;
   color: var(--titleColor);   }
.main .projects .box .content p {
   color: var(--subTitleColor);
   font-size: 1.4rem ;
   line-height: 1.4;
   margin: 1.5rem 0;   }
.main .projects .box .content .icons {
   display: flex;
   justify-content: space-between;   }
.main .projects .box .content .icons span {
   /* margin: 0 0.5rem ; */
   margin-right: 0.5rem ;
   font-size: 2rem ;
   transition: 0.4s;
   cursor: pointer;
   color: var(--subTitleColor);   }
.main .projects .box .content .icons span:hover {
   color: var(--blueColor);   }
.main .projects .box .content .icons span.more span ,
.main .projects .box .content .icons span.more {
   color: var(--blueColor);
   text-align: right;
   display: inline-flex;
   align-items: center;   }
/*-------------------------------*/
@media (max-width : 768px) {
   .main {
      flex-direction: column;
   }
   .main .buttons {
      width: 100%;
   }
   .main .buttons button {
      width: 100%;
   }}
/*-------------------------------*/
